.loading {
    margin: 0;
    transition: all 0.5s;
    opacity: 0;
    width: 40%;
    height: 0;
    /* display: none; */
}

.loading--show {
    opacity: 1;
    height: auto;
    margin: 10px 0;
    /* display: block; */
}

.QAcontrol {
    display: none;
}

.QAcontrol--show {
    display: block;
}